<%- include('../includes/admin/header',{page_title: 'Site Setting'}); %>
			<!-- /col-3 -->
			<div class="col-sm-9">

				<a href="#"><strong><i class="glyphicon glyphicon-cog"></i> Settings</strong></a>
				<hr>

				<div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <!--/col-span-9-->
<%- include('../includes/admin/footer'); %>
