<!DOCTYPE html>
<html lang="en-US" class="mti-inactive">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title><%= item.name %> | Our Team</title>
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

      <!--[if IE]>
      <link rel="shortcut icon" href=http://localhost:3501/wp-content/themes/thetalks/img/favicon.ico?v2>
      <![endif]-->

      <link rel="stylesheet" href="http://localhost:3501/iterview_css/style.min.1501823564.css" media="all">
      <!--[if lt IE 9]>
      <link rel='stylesheet' href='http://localhost:3501/iterview_css/ie.min.1496290384.css' media='all'>
      <![endif]-->
   </head>
   <body class="body--has-hover" >

      <div class="container">
         <header id="header" class="header">
            <div class="header__inner cf">
               <a class="btn-sidemenu icon-burger"></a>
               <div class="header__default cf">
                <div class="logo logo--talks">
                    <a class="logo__link" href="http://localhost:3501/" rel="nofollow" itemprop="headline"> My Logo
                        <img src="http://localhost:3501/interview_img/logo.png" alt="My Logo">
                    </a>
                </div>
                  <nav class="nav nav--main show--at-768 cf">
                     <ul class="nav cf">
                        <li class="nav__item">
                           <a href="http://localhost:3501/timekeeper-by-rolex/">About</a>
                        </li>
                        <li class="nav__item show--at-930">
                            <a href="http://localhost:3501/world-guide/">Contact Us</a>
                        </li>
                     </ul>
                     <div class="social show--at-930">
                         Language:
                         <select class="" name="">
                             <option value="">English</option>
                             <option value="">Dutch</option>
                             <option value="">Romanian</option>
                         </select>
                     </div>
                  </nav>
               </div>
            </div>
         </header>
         <div class="content">
            <div class="content__inner wrap">

               <main class="main">
                  <div>
                     <article class="interview">
                        <header class="interview__header">
                           <div class="inner-wrap"></div>
                           <h1 class="interview__title" rel="bookmark"> <%= item.name %></h1>
                           <div class="interview__meta cf">
                              <!-- .vcard -->
                              <div class="interview__date-author">
                                 <time class="interview__time"> May 31, 2017 </time>
                                 <br class="hide--at-768">
                                 <span class="interview__author"><span>Admin</span></span>
                              </div>
                              <span class="audio audio--meta">
                                 <span class="inner">
                                    <audio class="audio__file" preload="none">
                                       <source src="http://localhost:3501/interview_mp3/temp.mp3" type="audio/mp3">
                                    </audio>
                                    <span class="btn-pause audio__btn audio__btn--pause">
                                        <i class="icon-pause"></i>
                                        <span class="show--at-930-ilb">&nbsp;Listen to</span>
                                        <span class="show--at-768-ilb">&nbsp;Audio Excerpt</span>
                                    </span>
                                    <span class="btn-play audio__btn audio__btn--play">
                                        <i class="icon-speaker"></i>
                                        <span class="show--at-930-ilb">&nbsp;Listen to</span>
                                        <span class="show--at-768-ilb">&nbsp;Audio Excerpt</span>
                                    </span>
                                 </span>
                              </span>
                              <div class="share pull-right show--at-768">
                                  <span class="share__count" style="display: inline;">
                                      <span class="share__amount">1598</span> shares
                                  </span>
                                  <a class="btn btn--square btn--square--facebook btn-share icon-social-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3501/interview/james-mcavoy/" data-title="Facebook" data-width="626" data-height="436"></a>
                                  <a class="btn btn--square btn--square--twitter btn-share icon-social-twitter" href="https://twitter.com/share?text=James+McAvoy%3A+%E2%80%9CI+don%E2%80%99t+feel+entitled%E2%80%9D+%7C+The+Talks&amp;url=http://localhost:3501/interview/james-mcavoy/&amp;via=the_talks" data-title="Twitter" data-width="600" data-height="200"></a>
                                  <a class="btn btn--square btn--square--pinterest btn-share icon-social-pinterest" href="//pinterest.com/pin/create/button/?url=http://localhost:3501/interview/james-mcavoy/&amp;media=http://localhost:3501/interview_img/James-McAvoy-01.jpeg&amp;description=James+McAvoy%3A+%E2%80%9CI+don%E2%80%99t+feel+entitled%E2%80%9D+%7C+The+Talks" data-title="Pinterest" data-width="750" data-height="540"></a>
                                  <a class="btn btn--square btn--square--mail icon-social-mail" href="mailto:?subject=James%20McAvoy%20Interview%20%7C%20The%20Talks&amp;body=http%3A%2F%2Fthe-talks.com%2Finterview%2Fjames-mcavoy%2F"></a>
                              </div>
                           </div>
                           <figure class="interview__hero">
                              <div class="card__img card__img--hero">
                                 <div class="card__img__inner">
                                     <img src="http:/interview_img/James-McAvoy-01.jpeg" alt="Shahrokh Nabavi">
                                 </div>
                              </div>
                           </figure>
                        </header>
                        <div class="interview__body">
                           <div class="layout layout--with-gutter-40-at-768 layout--with-gutter-100-at-930 cf">
                              <section class="layout__item two-third--at-768">
                                 <div class="interview__content">
                                     <div class="interview__profile interview__profile--mobile hide--at-768">
                                         <div class="interview__profile__title caps">Short Profile</div>
                                         <p>
                                             <span class="bold">Name:</span> <%= item.name %><br>
                                             <span class="bold">DOB:</span> 10 April 1983<br>
                                             <span class="bold">Place of birth:</span> Esfahan, Iran<br>
                                             <span class="bold">Occupation:</span> Web Developer
                                         </p>
                                         <div class="interview__info">
                                             <em>Shahrokh's new website, </em> Split<em>, with a classical view by Shahriyar, will be available on GitHub in June 2017.</em>
                                         </div>
                                     </div>
                                    <p class="q">Mr. McAvoy, do some actors take their work too seriously?</p>
                                    <p class="a">
                                       <span class="audio audio--highlight">
                                          <audio class="audio__file" preload="none">
                                             <source src="http://localhost:3501/interview_mp3/temp.mp3" type="audio/mp3">
                                          </audio>
                                          <span class="btn-pause audio__btn audio__btn--pause"><i class="icon-pause"></i></span><span class="btn-play audio__btn audio__btn--play"><i class="icon-speaker"></i></span>
                                       </span>
                                       <span class="highlight">Well, I’ve seen actors who talk about it like it’s holy science but it’s like, you’re full of shit!</span> You just do the same shit I do! (<em>Laughs</em>) I’ve been told so many times that if you want to win awards, you need to start making it sound like you’re fucking sweating blood every time you step on set…
                                    </p>
                                    <p class="q"><a href="http://localhost:3501/interview/morgan-freeman">Morgan Freeman</a> told us, “I’m not digging tunnels, I’m not building buildings. My work is not hard, it is lying around and getting no job that is debilitating.”</p>
                                    <p class="a">People want me to say things like, “That was the hardest thing I’ve done! It consumed me completely!” People will ask, “Was this the most challenging role of your career?” I’m always like, “I don’t know. Maybe. Maybe not.” It was probably a lot of effort and sweat but… I think if you tell yourself this is the hardest thing you’ve ever done, then it will become the hardest thing you’ve ever done. For me, it’s just my job and creatively speaking, it didn’t leave me fucked — but I feel that people are disappointed when I say that!</p>
                                    <blockquote>“If you don’t get the chance to express everything on set, then you take it home with you.”</blockquote>
                                    <p class="q">You once said that while you love acting, there will come a time when you’ll think that you can’t be doing this for the rest of your life. Is that still true?&nbsp;</p>
                                    <p class="a">I don’t know if I agree with that anymore! I would love to do this for the rest of my life, I love it, I really, really love it and I hope that every job allows me to love it. When I’m doing it, there’s nothing else. You get up at 6:00 am and you don’t get home until eight or nine and then you do it all again and it’s so exhausting — you have no life when you work. If I’m spending half my life doing that, then half my life is entirely that. But&nbsp;the other half is bringing up my kid and being a stay-at-home dad. So, comparatively,&nbsp;acting&nbsp;is just my job. And I think that that approach makes it easy to separate myself from roles. I’m relatively mentally healthy and I think it’s hard to separate yourself from roles when you’re not.</p>
                                    <p class="q">Has that ever been a challenge for you?&nbsp;</p>
                                    <p class="a">Nah, not really! It’s only been two or three times in my entire career. Once was when I played Macbeth because the language kind of creates imagery in its poetry and it sort of sinks in because it’s so demonic. It sinks in more than normal prose does. And then the other time was when I was working with a bad director and a bad script — I fucking hated him and he hated me. And that was horrible.</p>
                                    <p class="q">So it’s more the experience that gets to you rather than the characters?</p>
                                    <p class="a">
                                       What I think is that
                                       <span class="audio audio--highlight">
                                          <audio class="audio__file" preload="none">
                                             <source src="http://localhost:3501/interview_mp3/temp.mp3" type="audio/mp3">
                                          </audio>
                                          <span class="btn-pause audio__btn audio__btn--pause"><i class="icon-pause"></i></span><span class="btn-play audio__btn audio__btn--play"><i class="icon-speaker"></i></span>
                                       </span>
                                       <span class="highlight">if you don’t get the chance to express everything, if you don’t get the chance to get it all out on set…. Then you take it home with you.</span> There was one night where I went home from the set of <em>Split</em> feeling really upset and really annoyed with myself, but I went back the next day and I just thought, “You know what? Give yourself a break.” We did it all again and it was fine, and in the end, I felt like I had the opportunity to say everything I wanted to say in that role.
                                    </p>
                                    <blockquote>“Art education expands your horizons beyond that which you can see.”</blockquote>
                                    <p class="q">Do you think your upbringing in a rather rough neighborhood in Scotland contributed to your resilient nature?</p>
                                    <p class="a">(<em>Laughs</em>) Drumchapel has got a shady side, you’re right. My grandparents sort of didn’t allow me a lot of freedom until I was about 15, 16 because they were just scared for me, I think. They wanted to protect me from what was happening in the street. But it was a good upbringing because I don’t feel entitled. I feel like I’ve taken the same amount of success as a lot of other people are given but I’ve taken it and I appreciate it but I don’t feel entitled, I don’t feel like I deserve things, I feel like I deserve them as much as anybody else. I’ve earned them as much as anybody should. But I do think that being deprived of culture — which I think I was — is a problem. I think it’s a massive problem.</p>
                                    <p class="q">In what ways?</p>
                                    <p class="a">
                                       <span class="audio audio--highlight">
                                          <audio class="audio__file" preload="none">
                                             <source src="http://localhost:3501/interview_mp3/temp.mp3" type="audio/mp3">
                                          </audio>
                                          <span class="btn-pause audio__btn audio__btn--pause"><i class="icon-pause"></i></span><span class="btn-play audio__btn audio__btn--play"><i class="icon-speaker"></i></span>
                                       </span>
                                       <span class="highlight">Well, I didn’t have money to go anywhere, I didn’t have money to leave my country. I didn’t have a fantastic education that informed me about what was happening in the world or people that were unlike myself.</span> Art education expands your horizons beyond that which you can see and that which you can afford to explore physically but there is a huge lack of that in my country, in state schools. I think it’s really limiting. There are a lot of people coming from an entitled background and a privileged education in the acting industry, particularly in Britain but the main reason for that is because they’re the only people who are coming from schools that prioritize cultural and art education. I mean, that’s not a problem in itself — it’s just a symptom of a larger problem in society and of education in my country.
                                    </p>
                                    <blockquote>“Acting gave me confidence to find out who I was and not be afraid of who I was.”</blockquote>
                                    <p class="q">But even if an actor comes from a privileged background, they are still at the mercy of the industry.</p>
                                    <p class="a">Of course, it’s true that very few people get it handed to them anyway. The industry is very fickle and really only cares about whether you can do it or not, you know? I’m not saying it matters where the actors come from, you know, it doesn’t matter if all the actors are fucking posh. But it does matter if all the children who will never become actors anyway still aren’t getting an art education because that just means that the horizons are that much more closed down. Their ability to question authority and to question their leaders is reduced massively, I think.</p>
                                    <p class="q">So what was it like for you personally given that your journey had a balance of both sides?</p>
                                    <p class="a">I got lucky! I got so fucking lucky that I fell into the lap of a director when I was 16 and he gave me a part in a film and my horizons immediately exploded wide with all the weird people in it and all these crazy fucking actors and directors and artistic people who were from all over the world. Through that one job I met people from England, I met people from America and I met people from all over the place with challenging points of view and sympathetic points of view to mine. And then I went to a youth theater for six months as well, and that expanded my mind massively. It gave me so much more confidence to find out who I was and not be afraid of who I was simply because I’m in a scenario that I don’t understand. With my background, I was going to find myself in scenarios that I didn’t understand fucking minute by minute! So, I learned to be cool with that. I got really lucky. I got really, really lucky. It’s been a good ride for me.</p>
                                 </div>
                              </section>
                              <aside class="layout__item third--at-768 show--at-768">
                                 <div class="interview__sidebar">
                                    <div class="interview__profile">
                                        <div class="interview__profile__title caps">Short Profile</div>
                                        <p>
                                            <span class="bold">Name:</span> Shahrokh Nabavi<br>
                                            <span class="bold">DOB:</span> 10 April 1983<br>
                                            <span class="bold">Place of birth:</span> Esfahan, Iran<br>
                                            <span class="bold">Occupation:</span> Web Developer
                                        </p>
                                        <div class="interview__info">
                                            <em>Shahrokh's new website, </em> Split<em>, with a classical view by Shahriyar, will be available on GitHub in June 2017.</em>
                                        </div>
                                    </div>
                              </aside>
                           </div>
                           <div class="share share--bottom show--at-768">
                               <span class="share__count" data-url="http://localhost:3501/interview/james-mcavoy" style="display: inline;">
                                   <span class="share__amount">1598</span> shares
                               </span>
                               <a class="btn btn--square btn--square--facebook btn-share icon-social-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3501/interview/james-mcavoy/" data-title="Facebook" data-width="626" data-height="436"></a>
                               <a class="btn btn--square btn--square--twitter btn-share icon-social-twitter" href="https://twitter.com/share?text=James+McAvoy%3A+%E2%80%9CI+don%E2%80%99t+feel+entitled%E2%80%9D+%7C+The+Talks&amp;url=http://localhost:3501/interview/james-mcavoy/&amp;via=the_talks" data-title="Twitter" data-width="600" data-height="200"></a>
                               <a class="btn btn--square btn--square--pinterest btn-share icon-social-pinterest" href="//pinterest.com/pin/create/button/?url=http://localhost:3501/interview/james-mcavoy/&amp;media=http://localhost:3501/interview_img/James-McAvoy-01.jpeg&amp;description=James+McAvoy%3A+%E2%80%9CI+don%E2%80%99t+feel+entitled%E2%80%9D+%7C+The+Talks" data-title="Pinterest" data-width="750" data-height="540"></a>
                               <a class="btn btn--square btn--square--mail icon-social-mail" href="mailto:?subject=James%20McAvoy%20Interview%20%7C%20The%20Talks&amp;body=http%3A%2F%2Fthe-talks.com%2Finterview%2Fjames-mcavoy%2F"></a>
                           </div>
                           <a id="btn-top" class="btn btn--square btn--square--top icon-arrow-up-small"></a>
                        </div>
                        <footer class="interview__footer">
                           <div class="related section section--separator">
                              <span class="h2 section__title">Interviews In same Region</span>
                              <div class="layout layout--with-gutter-20 cf">
                                 <div class="layout__item third--at-768">
                                    <a class="card inner cf" href="http://localhost:3501/interview/sienna-miller">
                                       <div class="card__img">
                                          <div class="card__img__inner">
                                             <img src="http://localhost:3501/interview_img/Sienna-Miller-01-473x246.jpg" alt="Sienna Miller">
                                             <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="14800">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="14800">Remove</span></div>
                                             <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="14800"></span>
                                          </div>
                                       </div>
                                       <h2 class="card__title">Sienna Miller<span hidden="">: </span><span class="card__quote show--at-768">“It’s always a dilemma”</span></h2>
                                    </a>
                                 </div>
                                 <div class="layout__item third--at-768">
                                    <a class="card inner cf" href="http://localhost:3501/interview/m-night-shyamalan">
                                       <div class="card__img">
                                          <div class="card__img__inner">
                                             <img src="http://localhost:3501/interview_img/M-Night-thumb-473x246.jpg" alt="M. Night Shyamalan">
                                             <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="14214">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="14214">Remove</span></div>
                                             <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="14214"></span>
                                          </div>
                                       </div>
                                       <h2 class="card__title">M. Night Shyamalan<span hidden="">: </span><span class="card__quote show--at-768">“I’m who you want in there”</span></h2>
                                    </a>
                                 </div>
                                 <div class="layout__item third--at-768">
                                    <a class="card inner cf" href="http://localhost:3501/interview/ewan-mcgregor">
                                       <div class="card__img">
                                          <div class="card__img__inner">
                                             <img src="http://localhost:3501/interview_img/Ewan-McGregor-01-473x246.jpg" alt="Ewan McGregor">
                                             <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="666">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="666">Remove</span></div>
                                             <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="666"></span>
                                          </div>
                                       </div>
                                       <h2 class="card__title">Ewan McGregor<span hidden="">: </span><span class="card__quote show--at-768">“I am quite happy being me”</span></h2>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="latest latest--details section section--separator">
                              <span class="h2 section__title">Latest Interviews</span>
                              <div class="layout layout--with-gutter-20 cf">
                                 <div class="layout__item half sixth--at-768">
                                    <a class="card card--slim inner cf" href="http://localhost:3501/interview/david-sedaris">
                                       <div class="card__img">
                                          <img src="http://localhost:3501/interview_img/David-Sedaris-thumb-473x246.jpg" alt="David Sedaris">
                                          <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="15481">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="15481">Remove</span></div>
                                          <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="15481"></span>
                                       </div>
                                       <h2 class="card__title">David Sedaris</h2>
                                    </a>
                                 </div>
                                 <div class="layout__item half sixth--at-768">
                                    <a class="card card--slim inner cf" href="http://localhost:3501/interview/antoine-predock">
                                       <div class="card__img">
                                          <img src="http://localhost:3501/interview_img/Antoine-Predock-01-473x246.jpg" alt="Antoine Predock">
                                          <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="15452">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="15452">Remove</span></div>
                                          <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="15452"></span>
                                       </div>
                                       <h2 class="card__title">Antoine Predock</h2>
                                    </a>
                                 </div>
                                 <div class="layout__item half sixth--at-768">
                                    <a class="card card--slim inner cf" href="http://localhost:3501/interview/jeff-goldblum">
                                       <div class="card__img">
                                          <img src="http://localhost:3501/interview_img/Jeff-Goldblum-01-473x246.jpg" alt="Jeff Goldblum">
                                          <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="15439">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="15439">Remove</span></div>
                                          <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="15439"></span>
                                       </div>
                                       <h2 class="card__title">Jeff Goldblum</h2>
                                    </a>
                                 </div>
                                 <div class="layout__item half sixth--at-768">
                                    <a class="card card--slim inner cf" href="http://localhost:3501/interview/rebecca-hall">
                                       <div class="card__img">
                                          <img src="http://localhost:3501/interview_img/Rebecca-Hall-01-473x246.jpg" alt="Rebecca Hall">
                                          <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="15407">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="15407">Remove</span></div>
                                          <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="15407"></span>
                                       </div>
                                       <h2 class="card__title">Rebecca Hall</h2>
                                    </a>
                                 </div>
                                 <div class="layout__item half sixth--at-768">
                                    <a class="card card--slim inner cf" href="http://localhost:3501/interview/steve-buscemi">
                                       <div class="card__img">
                                          <img src="http://localhost:3501/interview_img/Steve-Buscemi-01-473x246.jpg" alt="Steve Buscemi">
                                          <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="15360">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="15360">Remove</span></div>
                                          <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="15360"></span>
                                       </div>
                                       <h2 class="card__title">Steve Buscemi</h2>
                                    </a>
                                 </div>
                                 <div class="layout__item half sixth--at-768">
                                    <a class="card card--slim inner cf" href="http://localhost:3501/interview/judi-dench">
                                       <div class="card__img">
                                          <img src="http://localhost:3501/interview_img/Judi-Dench-001-473x246.jpg" alt="Judi Dench">
                                          <div class="card__actions show--at-768"><span class="card__btn timekeeper__btn timekeeper__btn--later btn-read-later" data-interview="15347">Read Later</span><span class="card__btn timekeeper__btn timekeeper__btn--remove btn-remove-read-later" data-interview="15347">Remove</span></div>
                                          <span class="card__btn card__btn--square icon-checkmark btn-remove-read-later-mobile" data-interview="15347"></span>
                                       </div>
                                       <h2 class="card__title">Judi Dench</h2>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </footer>
                     </article>
                  </div>
               </main>
            </div>
         </div>
         <footer class="footer">
            <div class="footer__inner wrap cf">
               <nav class="nav nav--footer cf">
                  <div class="social">
                      <a class="social__item social__item--facebook" href="https://www.facebook.com/shahrokh/" target="_blank">Facebook</a>
                      <a class="social__item social__item--twitter" href="https://twitter.com/shahrokh" target="_blank">Twitter</a>
                      <a class="social__item social__item--instagram" href="https://www.instagram.com/shahrokh/" target="_blank">Instagram</a>
                      <a class="social__item social__item--tumblr" href="http://shahrokh.tumblr.com/" target="_blank">Tumblr</a>
                  </div>
               </nav>
               <p class="copy">© 2017 Our Team</p>
            </div>
         </footer>
      </div>
      <div class="sidemenu">
         <div class="inner">
            <a class="btn-sidemenu icon-close"></a>
            <nav class="nav nav--sidemenu">
               <ul class="nav cf">
                  <li class="nav__item nav__item--home"><a href="http://localhost:3501/">Home</a></li>
                  <li class="nav__item nav__item--has-children">
                     <a href="http://localhost:3501/interviews/">Interview</a>
                     <ul class="sub-menu">
                        <li class="nav__item"><a href="http://localhost:3501/interviews/art/">Grenthe</a></li>
                     </ul>
                  </li>
                  <li class="nav__item"><a href="http://localhost:3501/timekeeper-by-rolex/">About</a></li>
                  <li class="nav__item"><a href="http://localhost:3501/world-guide/">Contact Us</a></li>
               </ul>
            </nav>
            <div class="social">
                <a class="social__item social__item--facebook icon-social-facebook" href="https://www.facebook.com/shahrokh/" target="_blank"></a>
                <a class="social__item social__item--twitter icon-social-twitter" href="https://twitter.com/shahrokh" target="_blank"></a>
                <a class="social__item social__item--instagram icon-social-instagram" href="https://www.instagram.com/shahrokh/" target="_blank"></a>
                <a class="social__item social__item--tumblr icon-social-tumblr" href="http://shahrokh.tumblr.com/" target="_blank"></a>
            </div>
            <nav class="nav nav--sidemenu nav--sidemenu--bottom">
               <ul class="nav cf">
                  <li class="nav__item"><a href="http://localhost:3501/about-the-talks/">About Our Team</a></li>
                  <li class="nav__item"><a href="http://localhost:3501/legal/">Legal Information</a></li>
                  <li class="nav__item"><a href="http://localhost:3501/credits/">Site Credits</a></li>
               </ul>
            </nav>
         </div>
      </div>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://localhost:3501/interview_js/scripts.min.1509174658.js"></script>
   </body>
</html>
