<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Rich FileManager</title>
	<link rel="stylesheet" type="text/css" href="/richfilemanager/styles/reset.css" />
	<link rel="stylesheet" type="text/css" href="/richfilemanager/styles/filemanager.css" />
	<link rel="stylesheet" type="text/css" href="/richfilemanager/scripts/jquery.contextmenu/dist/jquery.contextMenu.min.css" />
	<link rel="stylesheet" type="text/css" href="/richfilemanager/scripts/custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" />
	<link rel="stylesheet" type="text/css" href="/richfilemanager/scripts/alertify.js/dist/css/alertify.css">

</head>

<body>
<%- pageEditor %>
</body>

</html>
