<div class="col-sm-3">
    <!-- Left column -->
    <h4 class="title"><strong><i class="glyphicon glyphicon-list"></i> Menu</strong></h4>

    <hr>
    <ul class="nav nav-stacked collapse in" id="userMenu">
        <li><a href="/admin/bundels"><i class="glyphicon glyphicon-pushpin"></i> Interviews</a></li>
        <li><a href="/admin/medias"><i class="glyphicon glyphicon-picture"></i> Medias</a></li>
        <li><a href="/admin/pages"><i class="glyphicon glyphicon-list"></i> Pages</a></li>
        <li><a href="/admin/users"><i class="glyphicon glyphicon-user"></i> Users</a></li>
        <li><a href="/admin/setting"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
        <li><a href="/admin/logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
    </ul>
    <hr>
</div>
